@page "/"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h3>Hello, @context.User.Identity!.Name</h3>
    </Authorized>
    <NotAuthorized>
        <h3>You are not logged in</h3>
    </NotAuthorized>
</AuthorizeView>
